* {
    font-family: Museo Sans Cyrl;
}

.container{
    max-width: 950px;
    margin: 0 auto;

    @media (max-width: 992px){
        max-width: 90%;
    }

    @media (max-width: 768px){
        max-width: 80%;
    }

    @media (max-width: 768px){
        max-width: 90%;
    }
}
